@import url('https://fonts.cdnfonts.com/css/rapidly');
/* center text within the element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(212, 29, 244);
    font-family: rapidly;

}
header {
  background-image: url(images/download\ \(2\).jpg);
    background-position: center;
    text-align: center;
    letter-spacing: 0.5ch;
    padding: 4em 0;
    color: rgb(216, 65, 208);

}


h1 {
  text-transform: uppercase;
  letter-spacing: 0.8ch;
}

header nav {
    background-color: rgb(199, 32, 193);
  }
nav li {
  display: inline-block;
}

nav a {
  display: block; /* anchor elementen kunnen zo grootte krijgen */
  color: rgb(109, 29, 135);
  padding: 24px;
}

nav a:hover {
  background-color: rgb(235, 123, 235);
  color: rgb(72, 5, 77);
}
section {
  border-width: 3px;
  border-style:dashed;
  border-color: rgb(112, 27, 125);
 }
 p{
  margin-bottom: 1em;
  color: rgb(84, 17, 96);
 }