@import url('https://fonts.cdnfonts.com/css/the-great-summer');
html{
    background-color: rgb(99, 4, 88);
    color: rgb(237, 73, 240);
    font-family: The Great Summer;}
    header nav li {
        display: inline;
    }
h1{
    text-align: center;
    font-size: 60px;
    margin: auto;

}
h2{
    font-size: 40px;
    margin: auto;
    text-decoration: underline;
}
 p{
    margin: auto;
    font-size: 16px;
}
#flexbox {
    display: flex;
    background-color: #b10dbd;
    padding: 4%;
    margin: 50px;
    flex-direction: row;
    width: 65vw;
    margin: auto;
}
a{
    color: #4a0a8a;
    font-size: 16px;}

.col {
    width: 50%;
}
.artikel:hover{
    color: #df5beb;
    border-color: #500c52;
    border-width: 2px;
    border-style: dashed;
}
    .matchapp:hover{
        color: #df5beb;
        border-color: #500c52;
        border-width: 2px;
        border-style: dashed;
    }
    .bandsite:hover{
        color: #df5beb ;
        border-color: #500c52;
        border-width: 2px;
        border-style: dashed;
    }
    li{
        color: #500c52;
        margin: auto;
        list-style: none;
        text-align: center;
    }
    .col-left {
        display: block;
        text-align: left;
        width: 50vw;
    }
    .col-right{
        display: block;
        text-align: right;
        width: 50vw;
    }
    footer{
        width: 40vw;
        margin: auto;
        text-align: center;
        background-color: #af61e8;
    }
    .footer:hover{
        color: #9c3dcf;
        border-color: #6f0ddf;
        border-width: 2px;
        border-style: dashed;
    }