
/* center text within the element*/
.hero {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.hero .div {
    background-color: #ffffff;
    width: 1440px;
    height: 800px;
    position: relative;
}

.hero .overlap {
    position: absolute;
    width: 1440px;
    height: 700px;
    top: 0;
    left: 0;
    background-color: #05041f;
}

.hero .rectangle {
    position: absolute;
    width: 720px;
    height: 700px;
    top: 0;
    left: 720px;
    object-fit: cover;
}

.hero .group {
    position: absolute;
    width: 1110px;
    height: 42px;
    top: 32px;
    left: 165px;
}

.hero .overlap-group {
    position: relative;
    height: 42px;
}

.hero .top-navigation {
    position: absolute;
    width: 1110px;
    height: 42px;
    top: 0;
    left: 0;
}

.hero .logo {
    position: relative;
    width: 112px;
    height: 36px;
    top: 3px;
}

.hero .text-wrapper {
    position: absolute;
    height: 36px;
    top: 0;
    left: 39px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.hero .k-wrapper {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 0;
    background-color: #ffffff;
    border-radius: 6px;
}

.hero .k {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 8px;
    left: 9px;
}
.box {
  width: 30px;
  height: 30px;
}

.box .group {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}


.hero .group-wrapper {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 3px;
    left: 1074px;
   
    border-radius: 6px;
}

.hero .group-2 {
    position: relative;
    width: 19px;
    height: 12px;
    top: 12px;
    left: 9px;
}

.hero .line {
    top: -2px;
    position: absolute;
    width: 19px;
    height: 2px;
    left: 0;
}

.hero .img {
    top: 4px;
    position: absolute;
    width: 19px;
    height: 2px;
    left: 0;
}

.hero .line-2 {
    top: 10px;
    position: absolute;
    width: 19px;
    height: 2px;
    left: 0;
}

.hero .group-3 {
    position: absolute;
    width: 804px;
    height: 294px;
    top: 210px;
    left: 320px;
}

.hero .building-better {
    position: absolute;
    width: 800px;
    height: 192px;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.hero .p {
    position: absolute;
    width: 800px;
    top: 222px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.hero .logos {
    position: absolute;
    width: 1021px;
    height: 60px;
    top: 720px;
    left: 210px;
}
.logos {
  display: inline-flex;
  align-items: center;
  gap: 90px;
  padding: 16px 0px;
  position: relative;
}

.logos .airbnb-logo {
  position: relative;
  width: 90px;
  height: 28px;
}

.logos .hubspot-logo {
  position: relative;
  width: 84px;
  height: 24px;
}

.logos .google-logo {
  position: relative;
  width: 84px;
  height: 28px;
}

.logos .microsoft-logo {
  position: relative;
  width: 122px;
  height: 26px;
}

.logos .walmart-logo {
  position: relative;
  width: 111px;
  height: 26px;
}

.logos .fedex-logo {
  position: relative;
  width: 80px;
  height: 24px;
}
  

