* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

header nav li {
    display: inline;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    padding: 1rem;
}

header img {
    justify-content: flex-start;
    width: 8rem;
    margin-right: auto;
}

nav a {
    color: rgb(255, 3, 230);
    padding: 24px;
}

nav a:hover {
    background-color: rgb(235, 123, 235);
    color: rgb(72, 5, 77);
}

img {
    width: 100%;
    align-items: center;
}

#herobanner {
    width: 100%;
    min-height: 115vh;
    background-image: url("image/Why-Corpse-husband-is-popular.jpg");
    background-size: cover;
    background-position: top;
}

#herobanner .flex-container {
    align-items: flex-end;
    justify-content: center;
}
#herobanner .flex-container{
    align-items: flex-end;
}
main img{
    width: 20rem;
    margin-top: 5rem;
    margin-left: 11rem;
}
    main .flex-container{
        justify-content: flex-start;
        
    }
    main h1{
        justify-content: center;
        margin-left: 25rem;
        margin-top: 2rem;
    }
    