body {
    background-color: rgb(255, 255, 255);
}

header nav li {
    display: inline;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header img{
    justify-content: flex-start;
    width: 8rem;
    margin-right: auto;
}

nav a {
    color: rgb(255, 3, 230);
    padding: 24px;
}

nav a:hover {
    background-color: rgb(235, 123, 235);
    color: rgb(72, 5, 77);
}

img{
    width: 100%;
    align-items: center;
}
main .flex-container {

justify-content: center;
margin-right: 10cm;
}