header img {
    width: 25rem;
}

@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(223, 60%, 44%);
    --bgc-02: hsl(216, 100%, 62%);
    --txt-01: hsl(240, 92%, 15%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

img {
    display: block;
    width: 100%;
}

header {
    background-color: var(--bgc-02);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-items: center;
}

header .date {
    margin-bottom: 2rem;
}

header nav {
    align-self: center;
    justify-self: end;
}

header nav li {
    display: inline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#lineup img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: top;
}