@import url('https://fonts.cdnfonts.com/css/g-galengan');
@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(214, 93%, 64%);
    --bgc-02: hsl(248, 66%, 51%);
    --txt-01: hsl(219, 100%, 83%);
}

header img {
    width: 25rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: 'g Galengan', sans-serif;
    
     line-height: 1;
}

img {
    display: block;
    width: 100%;
}


header {
    background-color: var(--bgc-02);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid black;
    font-size: 1.9rem;

}

header .date {
    margin-bottom: 2rem;
}

header nav {
    align-self: center;
    justify-self: end;

}

nav a {
    color: #9c87e2
    
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #4d0e0e;
    font-size: 1.2rem;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
header nav li {
    display: inline;
    margin-right: 2rem;
}

section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
}

h2 {
    margin-top: 1rem;
}
.grid-card {
    grid-template-columns: repeat(2, 1fr);
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
#lineup p {
    max-width:100ch;
    margin-left: 3rem;
    align-items: center;
}
#lineup h2 {
    margin-left: 3rem;
    align-items: center;
}


#lineup img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: top;
}

footer {
    padding: 5vw 10vw;
    background-color: #210979;
    color: #a51e1e;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a,
footer ul:first-child li a {
    color: #8c83ff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
}

@media (width <=750px) {
    header {
        background-color: hsl(248, 66%, 51%);
        font-size: 1.2rem;
    }
    #lineup .grid-container {
        grid-template-columns: 1fr ;
    }
    
       
   
